ol, ul { list-style: none outside none; }
.mininav { background: url(/images13/bg.jpg) repeat-x left top; width: 100%; height: 36px; padding-top: 0px; z-index: 99; }
  .mininav .nc { margin: 0px auto; width: 1020px; position: relative; height: 36px; }
  .mininav .nav { margin-left: -8px; float: left; }
    .mininav .nav li { background: url(/images13/nav-line.gif) no-repeat 100% 10px; padding: 0px 9px 0px 8px; line-height: 36px; float: left; }
    .mininav .nav a:link, .mininav .nav a:visited { color: #383838; text-decoration: none; }
    .mininav .nav a:hover { color: #c80000; text-decoration: underline; }
  .mininav .nav_login { position: absolute; top: 2px; right: 10px; width: 300px; text-align: right; }
    .mininav .nav_login a, .mininav .nav_login a:link, .mininav .nav_login a:visited, .mininav .nav_login a:active { color: rgb(102, 102, 102); }
      .mininav .nav_login a:hover { color: rgb(204, 0, 0); }
    .mininav .nav_login .loginarea { height: 32px; line-height: 32px; }

.foot13 { color: #666; font-family: 'ËÎÌå'; font-size: 12px; width: 960px; margin: 4px auto 0 auto; height: 130px; overflow: hidden; text-align: center; }
  .foot13 a { color: #666; text-decoration: none; }
    .foot13 a:hover { color: #c80000; text-decoration: underline; }
  .foot13 .foot13-inner { width: 900px; margin: 0 auto; height: 120px; overflow: hidden; }
  .foot13 .f-l { width: 480px; float: left; text-align: center; margin-top: 8px; }
    .foot13 .f-l p { margin: 0; padding: 0; line-height: 20px; }
  .foot13 .f-r { width: 330px; float: right; margin-top: 8px; margin-left: 10px; line-height: 22px; text-align: left; }
  .foot13 .fontArial { font-family: 'Arial'; }

.top-search-content { display: none; }

.clearfloat { display: block; clear: both; content: ""; visibility: hidden; height: 0; line-height: 0; font-size: 1px; }

.Pdialog { padding: 0px; position: absolute; left: 46%; top: 20%; font-size: 12px; z-index: 1001; }
.Pdialog-main { width: 450px; z-index: 120; position: relative; border: 1px solid #aaa; box-shadow: 0 0 20px rgba(0, 0, 0, 0.4); border-radius: 5px; background-color: #fff; overflow: hidden; }
.Pdialog-iframe { width: auto; }
.Pdialog-main .Pdialog-title { background-color: #eaeaea; color: #000; font-size: 12px; font-weight: bold; padding: 5px 15px; line-height: 25px; text-align: left; border-bottom: solid 1px #cccccc; border-radius: 5px 5px 0 0; }
.Pdialog-main .Pdialog-content { padding: 0px; background-color: #fff; }
.Pdialog-main .Pdialog-close { position: absolute; right: 8px; top: 8px; height: 18px; width: 18px; }
.Pdialog-main a.pop-close { text-indent: -10000px; outline: 0 none; background: url(/images13/dialog.gif) no-repeat 0px 0px; cursor: pointer; height: 18px; width: 18px; display: block; }
  .Pdialog-main a.pop-close:hover { background-position: -18px 0; }
.Pdialog-content .Pdialog-item-tab { background: #fff; height: 28px; border-bottom-color: #cccccc; border-bottom-width: 1px; border-bottom-style: solid; margin-top: 8px; }
  .Pdialog-content .Pdialog-item-tab ul { height: 28px; border-top-color: #000; border-top-width: 0px; border-top-style: solid; position: relative; }
  .Pdialog-content .Pdialog-item-tab li { font-size: 14px; font-family: 'Microsoft YaHei',SimSun; width: 45px; height: 27px; text-align: center; color: rgb(102, 102, 102); border: solid 1px #ccc; border-bottom: 0; background-color: #f5f5f5; float: left; font-size-adjust: none; font-stretch: normal; margin-left: 5px; list-style: none; }
.MacOS .Pdialog-content .Pdialog-item-tab li { font-family: 'lucida Grande', Verdana; }
.Pdialog-content .Pdialog-item-tab li.selected { height: 28px; color: rgb(51, 51, 51); position: relative; background-color: #fff; margin-bottom: -1px; }
.Pdialog-content .Pdialog-item-tab li a { line-height: 28px; }
.Pdialog-content .Pdialog-item-tab a:link { color: rgb(102, 102, 102); text-decoration: none; }
.Pdialog-content .Pdialog-item-tab a:visited { color: rgb(102, 102, 102); text-decoration: none; }
.Pdialog-content .Pdialog-item-tab a:hover { color: rgb(141, 0, 0); text-decoration: none; }
.Pdialog-content .Pdialog-item-tab .selected a:link { color: rgb(51, 51, 51); text-decoration: none; }
.Pdialog-content .Pdialog-item-tab .selected a:visited { color: rgb(51, 51, 51); text-decoration: none; }
.Pdialog-content .Pdialog-item-tab .selected a:hover { color: rgb(141, 0, 0); text-decoration: none; }
.Pdialog-content .Pdialog-item-panel { border: 0; padding: 5px; }
.Pdialog-item { display: none; }
.Pdialog-content .Pdialog-hot { padding: 3px 0 0 5px; display: block; }
  .Pdialog-content .Pdialog-hot a { line-height: 25px; }
.Pdialog-item { display: none; }
  .Pdialog-item li { display: inline-block; line-height: 22px; padding: 2px 0 2px 25px; border-bottom: 1px dashed #ddd; width: 92%; }
    .Pdialog-item li strong { float: left; color: #b5cfd9; font-size: 16px; margin-left: -20px; padding-top: 3px; }
  .Pdialog-item a { font-size: 12px !important; color: #0271b9 !important; float: left; margin-right: 5px; padding: 0 5px; text-decoration: none; white-space: nowrap; outline: 0 none; border: 1px solid #fff; }
    .Pdialog-item a:hover, .Pdialog-item a.selected { background: #2680e9; color: #fff !important; text-decoration: none !important; border-color: #66acff #094fa1 #094fa1 #66acff; border-style: solid; border-width: 1px; }
.Pdialog-frame { width: 100%; height: 100%; position: absolute; top: 0; left: 0; background: #000; opacity: 0; filter: alpha(opacity = 0); z-index: 110; }
.Pdialog-frame-wrap { width: 100%; height: 100%; position: absolute; top: -6px; left: -6px; background: #000; opacity: 0; filter: alpha(opacity = 0); z-index: 110; }
.Pdialog-shadow { width: 100%; height: 100%; position: absolute; top: 2px; left: 4px; background: #000; opacity: .2; filter: alpha(opacity = 30); z-index: 110; }
.Pdialog-shadow-wrap { width: 100%; height: 100%; position: absolute; top: -6px; left: -6px; background: #000; opacity: .2; filter: alpha(opacity = 30); z-index: 110; }
.tips_login { line-height: 20px; text-align: center; filter: progid:DXImageTransform.Microsoft.Shadow(color='#969696',Direction=135, Strength=6 ); -moz-box-shadow: 0px 0px #969696; -webkit-box-shadow: 0px 0px 5px #969696; box-shadow: 0px 0px 5px #969696; background: none repeat scroll 0 0 #fffcd2; border: 1px solid #d4d4d4; color: black; left: 30%; padding: 8px 20px 5px; position: absolute; top: 40%; z-index: 100; }
  .tips_login .close { text-indent: -10000px; cursor: pointer; width: 18px; height: 18px; position: absolute; right: -1px; top: 0; display: block; }
.p5w-dialog { border: 1px solid #aaa; box-shadow: 0 0 20px rgba(0, 0, 0, 0.4); border-radius: 5px; background-color: #fff; padding: 0px; }
  .p5w-dialog .ui-dialog-titlebar { background-image: none; background-color: #eaeaea; color: #000; font-size: 12px; font-weight: bold; padding: 5px 15px; line-height: 25px; height: 25px; text-align: left; border: 0; border-bottom: solid 1px #cccccc; border-radius: 5px 5px 0 0; }
    .p5w-dialog .ui-dialog-titlebar .ui-button-text { padding: 0; }
  .p5w-dialog .ui-dialog-title { float: left; margin: .1em 0; white-space: nowrap; width: auto; overflow: hidden; text-overflow: ellipsis; }
  .p5w-dialog .ui-dialog-titlebar-close { position: absolute; right: .5em; top: 50%; width: 21px; margin: -10px 0 0 0; padding: 1px; height: 20px; }
  .p5w-dialog .ui-dialog-content { overflow: hidden; }
  .p5w-dialog .ui-dialog-buttonpane { border-radius: 0 0 5px 5px; }

.p5w-stocksuggest { background: #fff; border: solid 1px #f9f9f9; padding: 0; margin: 0;width:200px;line-height:20px; border-radius: 0; }
.p5w-stocksuggest .ui-menu-item { list-style-image: none; }
.p5w-stocksuggest .ui-menu-item a { color: #666 ; height:20px;line-height:20px; }
.p5w-stocksuggest .ui-menu-item a.ui-state-hover,
.p5w-stocksuggest .ui-menu-item a.ui-state-focus{ border: 1px solid #0a83fe ; background: #0a83fe ; font-weight: normal ; color: #fff ; border-radius: 0; }

.p5w-stocksuggest .ui-menu-item span.code { width: 50px; }
.p5w-stocksuggest .ui-menu-item span.type { width: 50px; }
.p5w-stocksuggest .ui-menu-item span.option { width: 80px; }
.p5w-stocksuggest .ui-menu-item span.name { width: 60px; }
.p5w-stocksuggest .ui-menu-item em { color: red; font-style: normal; }
.p5w-stocksuggest .ui-menu-item span { display: block; line-height: 20px; height: 20px; float: left; text-align: center; font-size: 12px; }

.p5w-stocksuggest .ui-autocomplete-category { line-height: 25px; height: 25px;background-color:#f7f7f7;border-bottom:solid 1px #f2f2f2; }
.p5w-stocksuggest .ui-autocomplete-category span{background-color:#f7f7f7; display: block; line-height: 25px; height: 25px; float: left; text-align: center; font-size: 12px;color: #666; }
.p5w-stocksuggest .ui-autocomplete-category span.code { width: 50px; }
.p5w-stocksuggest .ui-autocomplete-category span.type { width: 50px; }
.p5w-stocksuggest .ui-autocomplete-category span.option { width: 80px; }
.p5w-stocksuggest .ui-autocomplete-category span.name { width: 60px; }

.related-question .rq-tab-1 { position: relative; }
    .related-question .rq-tab-1 input { font-size: 14px; text-align: center; font-family: "Segoe UI Light", "Segoe UI", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif; position: absolute; left: 95px; top: 5px; width: 98px; height: 21px; line-height: 21px; border: solid 1px #9da8b4; }
.related-question .rq-tab-3 { margin-bottom: 5px; }
.related-question .rq-tab-4 a { font-size: 12px; font-weight: bold; text-decoration: none; }
.related-question .rq-tab-4 label { color: #a9a9a9; }
.related-question .rq-tab-6 .rq-submit { border: 0; width: 70px; height: 32px; background-image: url(/images13/btn_submit.jpg); background-repeat: no-repeat; cursor: pointer; }
.related-question .rq-tab-7 { float: left; color: rgb(99, 99, 99); }
.qa-question-list .loading { text-align: center; color: #a9a9a9; }
.qa-question-list .qa-question { width: 565px; color: #666; background-image: url(/images13/qa_bg_big_1.gif); background-repeat: no-repeat; margin: 4px 0 0 30px; padding: 7px 10px 10px 50px; }
.qa-question-list .qa-answer { width: 563px; height: 80px; overflow: hidden; color: #666; background-image: url(/images13/qa_bg_big_2.gif); background-repeat: no-repeat; margin: 0 0 0 30px; padding: 18px 10px 0 50px; }

.gototop { height: 36px; margin: 5px 0 0; position: static; width: 58px; }
    .gototop .toplink { background: url(/images13/gototop.png) no-repeat scroll 0 0 rgba(0, 0, 0, 0); display: block; height: 36px; text-indent: -9999px; width: 58px; }
        .gototop .toplink:hover { background: url(/images13/gototop.png) no-repeat scroll -58px 0 rgba(0, 0, 0, 0); }
.gototop-wrap { bottom: 60px; left: 50%; margin: 0 0 0 520px; position: fixed; width: 50px; z-index: 100; }
.gototop-wrap-resize { margin-left: 460px; }

.source span {display:block;}
.source ins { text-decoration: none; }
.source ins a { text-decoration: none; }

.button_app { width: 147px; height: 324px; }

.rn-list ul { height: 300px; }

.box_inner { margin: 0 auto; width: 290px; }

.content_right { margin: 0 auto; width: 302px; }

.xcf-show { float: none; }
.xcf-show .news { float: none; }

.mod-title-right { float: right; line-height: 42px; margin-right: 5px; }

.yybox{width:300px; height:245px; margin:6px 0 0 0px; padding: 5px 0 0px 2px; background: url(/images13/ys-9.jpg);}
.mod-text2{ float:left; width: 300px;  margin:11px 0 0px 0px; }
.mod-img2{ float:left; padding:1px; margin: 0 0px 0px 0; border: 1px solid #ccc;}
.mod-tw2{ height: 225px}
.mod-right {width:300px;  padding-bottom:8px; }
.mod-r { float:left; margin:2px 0 0 13px; width:216px;}
.yy-x { margin:2px 0 2px 0px;}
.mod-list3{ width: 100%; margin:0px 0 0 0px; padding: 0 0 0px 0px; float:left;}
.mod-lt{ width:100%; margin: 0; font-size: 15px; font-weight:bold; font-family:"Î¢ÈíÑÅºÚ"; text-align:left; line-height:24px;}
.mod-lt2{ width:100%; margin: 0; font-size: 15px; font-weight:bold; font-family:"Î¢ÈíÑÅºÚ"; text-align:left; line-height:30px;}
.mod-tw5 { width:290px; }
.mt-rt { float: right; margin: 12px 8px 0 0; }

.mod-text3 { float: left; padding: 0 0 0 2px; width: 180px; }


.mod-tw4{ float:none; width: 100%; }
.mod-tw4 p { line-height: 22px; margin-left: 5px; text-align: left; }
.mod-text4 { float: left; padding: 0 0 0 2px; width: 204px; }
.mod-img4 { float: left; margin: 0 12px 0 0; padding: 1px; text-align: center; width: 78px; }
.bbs-star-img { border: 1px solid #CCCCCC; float: left; padding: 1px; }
.bbs-star-text { text-align: center; width: 78px; font-size: 12px; }

.mod-lc { color: #878787; line-height: 20px; margin: 0; padding: 0 0 10px; width: 98%; }

.mod-list { background-image: url(/images13/line_1.gif); background-position: center bottom; background-repeat: no-repeat; margin: 0 0 12px 1px; padding: 0 0 10px 0; width: 300px; }
.mod-list li { background-image: url(/images13/dot_1.gif); background-position: left center; background-repeat: no-repeat; font-size: 14px; list-style-type: none; margin: 2px 4px 6px 0; padding: 0 0 0 10px; width: 98%; text-align: left; }
.mod-img { background-image: url(/images13/video_thum_bg.gif); background-repeat: no-repeat; float: left; height: 80px; margin: 2px 0 0; padding: 2px 0 0 2px; width: 102px; text-align: left; }
.mod-text { float: left; padding: 0 0 0 2px; width: 180px; }

/*Back To Top Button*/
.gototop{width:58px;height:36px;position: static;margin:0;margin-top:5px;}
.gototop .toplink {height: 36px; width: 58px;background:url(/images13/gototop.png) no-repeat 0 0; display:block; text-indent :-9999px; }
.gototop .toplink:hover { background:url(/images13/gototop.png) no-repeat -58px 0;}
.gototop-wrap{width:50px;left: 50%; margin:0 0 0 520px;position: fixed; _position:absolute;bottom: 60px;z-index:100;}
.gototop-wrap-resize{margin-left:460px;}

.errorBox { font-family: 'Microsoft YaHei'; clear: both; background-color: #b91118; border: 0; height: auto; line-height: 40px; margin: 10px 4px; text-align: center; color: #fff; }
.errorBox h2 { font-size: 14px; font-weight: bold; }
.errorBox h6 { font-size: 12px; font-weight: bold; }
.errorBox a { color: #e1e1e1; text-decoration: underline; }
.errorBox a:hover { color: #fce800; }
.news-list .errorBox { margin-right: 40px; }

.mb-list { }
.mb-list ul { padding: 10px 0 10px 0; margin: 0 0 15px 0; width: 96%;   }
.mb-list ul li { width: 620px; font-size: 12px; padding: 0 0 0 0px; margin: 2px 4px 8px 2px; list-style-type: none; height:23px; line-height :23px;   color: #7f7f7f; clear :both ; }
.mb-list ul li a { font-size: 14px; }
.mb-list ul li span,.mb-list ul li span.name,.mb-list ul li span.code,.mb-list ul li span.time { display :block ; height:23px; line-height :23px; float :left;font-size: 12px; overflow:hidden;   }
.mb-list ul li span.code {width:60px; text-align :left ; color :#383838; font-size:14px;   }
.mb-list ul li span.name {width:460px; text-align :left;  }
.mb-list ul li span.name2 {width:520px; }
.mb-list ul li span.time {width:100px; text-align :right;  }
.search-select { float :right; }

.nl-title .titles { width:280px; float:left; height:35px; margin:0; padding:0; }
.nl-title .titles a{ float:left;font-family:"Î¢ÈíÑÅºÚ", "ËÎÌå"; font-size: 16px; font-weight:bold;margin:0; padding:0; }

.nl-title .searchbox { width:200px; float:right;/* height:27px; line-height:27px;padding-top:5px;*/}
.nl-title .searchbox .search-input { height:20px;  border:solid 1px #aaa; width:140px; }
.nl-title .searchbox .btn-search { margin-left:5px; cursor:pointer; border:0; background-image: url(/images13/stock_btn_search.gif); background-repeat:no-repeat; width:46px; height:23px; }

.rn-list1 ul li { background: url(/images13/dot_1.gif) no-repeat scroll left center rgba(0, 0, 0, 0); color: #7F7F7F; font-size: 12px; list-style-type: none; margin: 2px 4px 6px 2px; padding: 0 0 0 10px; text-align: right; width: 620px; }
.rn-list1 ul li a { float: left; font-size: 14px; }
.zu { color: #999999; font-family: "ËÎÌå"; font-size: 12px; font-weight: normal; margin-left: 20px; }

.rn-table { background: none repeat scroll 0 0 #CCCCCC; width: 630px; }
    .rn-table td { background: none repeat scroll 0 0 #FFFFFF; font-size: 14px; line-height: 35px; text-align: center; }
    .rn-table th { background: url(/images13/table_bg_1.jpg); color: #FFFFFF; font-size: 14px; line-height: 35px; text-align: center; }

.mfgd-i { width: 290px; height: 130px; overflow: hidden; margin-bottom: 10px; text-align: center; }
.mfgd-img { margin-top: 4px; margin-bottom: 6px; }
    .mfgd-img ul li { list-style: none; height: 48px; width: 225px; text-align: left; line-height: 22px; font-size: 14px; padding-left: 60px; background: url(/images13/mfgd-jg.jpg) no-repeat left top; }
.mfgd1-img ul li { background: url(/images13/mfgd-rw.jpg) no-repeat left top; }

.cwqz { margin: 0 0 15px 0; width: 100%; }
    .cwqz .cwqz_t { border-bottom: 1px solid #EA4137; }
        .cwqz .cwqz_t .cwqz_t_l { float: left; }
        .cwqz .cwqz_t .cwqz_t_r { float: right; }
.cwqz-i { float: left; margin: 1px 1px 0 2px; }
.cwqz-b { float: left; background-color: #f9f9f9; float: left; width: 220px; height: 69px; margin: 1px 0px 0 0px; color: #7a7a7a; }
    .cwqz-b span.time { font-size: 18px; font-family: "Î¢ÈíÑÅºÚ", "ËÎÌå"; margin: 0 5px 0 10px; line-height: 32px; color: #383838; }
    .cwqz-b span.yl { font-size: 15px; margin-top: 3px; font-family: "Î¢ÈíÑÅºÚ", "ËÎÌå"; color: #444343; font-weight: bold; text-align: center; width: 207px; float: left; line-height: 35px; }
    .cwqz-b img { margin: 0 0 2px 5px; float: left; }
    .cwqz-b p { color: #646363; font-size: 15px; font-family: "Î¢ÈíÑÅºÚ", "ËÎÌå"; width: 208px; text-align: center; float: left; }
        .cwqz-b p a { color: #646363; }

.zjss-img ul { float: none; }
.zjss-img ul li { float: none; }

#xfAdLayerR1 {bottom:5px;}
.xfadvleft {clear: both; width:300px; z-index:100; position:absolute; height:212px; left:5px;}
.xfadvright {clear: both; width:300px; z-index:100; position:absolute; height:212px; right:5px;}
.xfadv1 {bottom:5px;}
.xfadv2 {bottom:135px;}

.adcls {height:12px; line-height:12px; width:100%; overflow:hidden; text-align:right; vertical-align:text-top;display:block;}
.adcls a{ background:none;height:12px; line-height:12px; vertical-align:text-top;display:block;}
.adcls img{ cursor:pointer;}

.tj-listcont-inner { padding-top: 10px; display:none; }

.banner-in { padding: 10px 0 20px; text-align: center; margin-right: 50px; }

.rn-title { background-image: url("/images13/bc_line.gif"); background-position: left bottom; background-repeat: no-repeat; font-family: "Î¢ÈíÑÅºÚ","ËÎÌå"; font-size: 15px; font-weight: bold; height: 35px; margin: 0 0 15px; padding: 10px 0 0; width: 638px; }

.text,.text p, .text div { word-wrap: break-word; word-break: break-all; }
.text a, .text a:link, .text a:visited, .text a:hover, .text a:active{ color: #004276; text-decoration:underline }
.text a:hover { color:#c80000; text-decoration:none;}
.text table, .text td, .text th { border-collapse: collapse; border-spacing: 0; border: 1px solid #2b2b2b; }

.number { margin-top: 10px; height: auto; }
.viciao { height: 40px; padding-bottom: 5px; width: 100%; }
.related_news_first { margin-top: 0; }
.space-line-ny { display: none; }

.hqzx { background: url(/images13/hq_bg.jpg); height: 57px; width: 1022px; margin-bottom: 15px; }
.roll_box1 { border: 0; height: 26px; margin-top: 1px; }
.roll_box1 .roll1 { height: 26px; clear: both; line-height: 26px; }
.roll_box1 .roll1 .titlebox { float: left; display: inline; margin: 5px 30px 0 5px; line-height: 1.0; }
.roll_box1 .roll1 .contentbox { float: left; display: inline; width: 818px; overflow: hidden; margin: 0px 0 0 0; }
.roll_box1 .roll1 .content { float: left; width: 818px; overflow: hidden; height: 26px; }
.roll_box1 .roll1 .content div { float: left; padding: 0 0px 0 0; width: 163px; }
.roll_box1 .roll2 { height: 27px; line-height: 27px; padding-left: 13px; }
.roll_box1 .roll2 .floatleft { width: 264px; }
.roll_box1 .roll2 .text { width: 102px; }
.roll_box1 .roll2 .link { float: left; width: 656px; word-spacing: 12px; }
.roll_box1 .roll2 .link b { color: #06387c; }
.roll_box1 .roll2 .link a { color: #333; }
.roll_box1 .roll2 .link .or { color: #e9984f; }
.red, .roll1 .content div .up { color: #ff0103; font-family: Arial; }
.roll1 .content div .up { background: url(/images13/icon_arrow_rt.gif) left center no-repeat; padding-left: 8px; }
.green, .roll1 .content div .down { color: #359901; font-family: Arial; }
.roll1 .content div .down { background: url(/images13/icon_arrow_gb.gif) left center no-repeat; padding-left: 8px; }
.roll1 .content div .up,.roll1 .content div .down{background-image:none;padding-left:4px;}

.roll_box2 { border: solid 1px #dedede; margin-top: 1px; padding: 1px 1px 0; }
.roll_box2 li { background: url(../images/row1_bg.gif) left top repeat-x; height: 22px; overflow: hidden; zoom: 1; }
.roll_box2 li .col1 { float: left; background: url(../images/row1_l.gif); width: 59px; padding: 5px 0 0 14px; height: 16px; }
.roll_box2 li .col2 { float: left; line-height: 21px; word-spacing: 10px; padding: 0 10px; }
.roll_box2 li .button { display: block; height: 17px; width: 44px; background: url(../images/row1_link_1.gif) left bottom; float: right; padding: 4px 0 0 7px; }
.roll_box2 li .setup { background: url(../images/row1_link_2.gif) left bottom; }
.roll_box2 li .button:hover { background-position: left top; text-decoration: none; }
.fix:after { content: "."; display: block; clear: both; visibility: hidden; height: 0; }
.fix { zoom: 1; }
.roll_box1 ul.content { position: relative; }
.roll_box1 ul.content li { position: absolute; top: 26px; background: #fff; }

.blank15 { margin: 0 auto; height: 15px; line-height: 1px; font-size: 1px; clear: both; }
.blank10 { margin: 0 auto; height: 10px; line-height: 1px; font-size: 1px; clear: both; }
.blank5 { margin: 0 auto; height: 5px; line-height: 1px; font-size: 1px; clear: both; }
.blank2 { margin: 0 auto; height: 2px; line-height: 1px; font-size: 1px; clear: both; }
.blank1 { margin: 0 auto; height: 1px; line-height: 1px; font-size: 1px; clear: both; }

a.hotword { text-decoration: none; color: #072885; }
a.hotword:hover { text-decoration: none; color: #c80000; }

.spxy-img { margin-right: 10px; }
.spxy-r {  }
.spxy-bt { margin-left: 10px; line-height: 20px; }
.spxy-zy { background:url(/images13/xy-bg.jpg) left top no-repeat; margin-top: 4px; padding-top: 4px; padding-left: 15px; width: 100%; height: 77px; }

