.qa-input-1{width:160px; height:26px; line-height:29px; border:0px; color:#2a2963; vertical-align:middle;}

.foot { width:960px; height:130px; overflow:hidden; margin:0px auto 0 auto; }
.foot13 { color:#728dc1; font-family:'ו'; font-size:12px; width:960px; margin:0px auto 0 auto; height:130px; overflow:hidden; text-align:center;}
.foot13 a { color:#728dc1; text-decoration:none; }
.foot13 a:link { color:#728dc1; text-decoration:none; }
.foot13 a:hover { color:#728dc1; text-decoration:underline; }
.foot13 .foot13-inner {width:900px; margin:0 auto; height:120px; overflow:hidden; }
.foot13 .f-l { width:480px; float:left; text-align:center; margin-top:8px; }
.foot13 .f-l p { margin:0; padding:0; line-height:20px; text-align:center;}
.foot13 .f-r { width:330px; float:right; margin-top:8px; margin-left:10px; line-height:22px; text-align:left; }
.foot13 .f-r a { color:#728dc1; text-decoration:none; }
.foot13 .f-r a:link { color:#728dc1; text-decoration:none; }
.foot13 .f-r a:hover { color:#728dc1; text-decoration:underline; }
.foot13 .fontArial {font-family:'Arial';}

.viciao { margin:0 auto; padding:10px 0 0 0; text-align:center}
.viciao p { color:#666; margin: 5px 0 0 0; *margin: 10px 0 0 0}
.viciao a {BORDER-RIGHT: #d0d0d0 1px solid; PADDING-RIGHT: 7px; BORDER-TOP: #d0d0d0 1px solid; PADDING-LEFT: 7px; PADDING-BOTTOM: 4px; BORDER-LEFT: #d0d0d0 1px solid; COLOR: #000; MARGIN-RIGHT: 7px; PADDING-TOP: 4px; BORDER-BOTTOM: #d0d0d0 1px solid; TEXT-DECORATION: none}
.viciao a:hover {BORDER-RIGHT: #d21300 1px solid; PADDING-RIGHT: 7px; BORDER-TOP: #d21300 1px solid; PADDING-LEFT: 7px; PADDING-BOTTOM: 4px; BORDER-LEFT: #d21300 1px solid; COLOR: #fff; MARGIN-RIGHT: 7px; PADDING-TOP: 4px; BORDER-BOTTOM: #d21300 1px solid; BACKGROUND-COLOR: #d21300; TEXT-DECORATION: none}
.viciao a:active {BORDER-RIGHT: #d21300 1px solid; PADDING-RIGHT: 7px; BORDER-TOP: #d21300 1px solid; PADDING-LEFT: 7px;   PADDING-BOTTOM: 4px; BORDER-LEFT: #d21300 1px solid; COLOR: #fff; MARGIN-RIGHT: 7px; PADDING-TOP: 4px; BORDER-BOTTOM: #d21300 1px solid; BACKGROUND-COLOR: #d21300; TEXT-DECORATION: none}
.viciao span.current {BORDER-RIGHT: #d21300 1px solid; PADDING-RIGHT: 7px; BORDER-TOP: #d21300 1px solid; PADDING-LEFT: 7px; FONT-WEIGHT: bold; PADDING-BOTTOM: 4px; BORDER-LEFT: #d21300 1px solid; COLOR: #fff; MARGIN-RIGHT: 5px; PADDING-TOP: 4px; BORDER-BOTTOM: #d21300 1px solid; BACKGROUND-COLOR: #d21300}
.viciao span.disabled {BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 7px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 7px; PADDING-BOTTOM: 4px; BORDER-LEFT: #ccc 1px solid; COLOR: #ccc; MARGIN-RIGHT: 5px; PADDING-TOP: 4px; BORDER-BOTTOM: #ccc 1px solid}
