.mininav { background: url(/images13/bg.jpg) repeat-x left top; width: 100%; height: 36px; padding-top: 0px; z-index: 99; }
  .mininav .nc { margin: 0px auto; width: 1020px; position: relative; height: 36px; }
  .mininav .nav { margin-left: -8px; float: left; }
    .mininav .nav li { background: url(/images13/nav-line.gif) no-repeat 100% 10px; padding: 0px 9px 0px 8px; line-height: 36px; float: left; }
    .mininav .nav a:link, .mininav .nav a:visited { color: #383838; text-decoration: none; }
    .mininav .nav a:hover { color: #c80000; text-decoration: underline; }
  .mininav .nav_login { position: absolute; top: 2px; right: 10px; width: 300px; text-align: right; }
    .mininav .nav_login a, .mininav .nav_login a:link, .mininav .nav_login a:visited, .mininav .nav_login a:active { color: rgb(102, 102, 102); }
      .mininav .nav_login a:hover { color: rgb(204, 0, 0); }
    .mininav .nav_login .loginarea { height: 32px; line-height: 32px; }

.foot13 { color: #666; font-family: 'ËÎÌå'; font-size: 12px; width: 960px; margin: 4px auto 0 auto; height: 130px; overflow: hidden; text-align: center; }
  .foot13 a { color: #666; text-decoration: none; }
    .foot13 a:hover { color: #c80000; text-decoration: underline; }
  .foot13 .foot13-inner { width: 900px; margin: 0 auto; height: 120px; overflow: hidden; }
  .foot13 .f-l { width: 480px; float: left; text-align: center; margin-top: 8px; }
    .foot13 .f-l p { margin: 0; padding: 0; line-height: 20px; }
  .foot13 .f-r { width: 330px; float: right; margin-top: 8px; margin-left: 10px; line-height: 22px; text-align: left; }
  .foot13 .fontArial { font-family: 'Arial'; }

.Pdialog { padding: 0px; position: absolute; left: 46%; top: 20%; font-size: 12px; z-index: 1001; }
.Pdialog-main { width: 450px; z-index: 120; position: relative; border: 1px solid #aaa; box-shadow: 0 0 20px rgba(0, 0, 0, 0.4); border-radius: 5px; background-color: #fff; overflow: hidden; }
.Pdialog-iframe { width: auto; }
.Pdialog-main .Pdialog-title { background-color: #eaeaea; color: #000; font-size: 12px; font-weight: bold; padding: 5px 15px; line-height: 25px; text-align: left; border-bottom: solid 1px #cccccc; border-radius: 5px 5px 0 0; }
.Pdialog-main .Pdialog-content { padding: 0px; background-color: #fff; }
.Pdialog-main .Pdialog-close { position: absolute; right: 8px; top: 8px; height: 18px; width: 18px; }
.Pdialog-main a.pop-close { text-indent: -10000px; outline: 0 none; background: url(/images13/dialog.gif) no-repeat 0px 0px; cursor: pointer; height: 18px; width: 18px; display: block; }
  .Pdialog-main a.pop-close:hover { background-position: -18px 0; }
.Pdialog-content .Pdialog-item-tab { background: #fff; height: 28px; border-bottom-color: #cccccc; border-bottom-width: 1px; border-bottom-style: solid; margin-top: 8px; }
  .Pdialog-content .Pdialog-item-tab ul { height: 28px; border-top-color: #000; border-top-width: 0px; border-top-style: solid; position: relative; }
  .Pdialog-content .Pdialog-item-tab li { font-size: 14px; font-family: 'Microsoft YaHei',SimSun; width: 45px; height: 27px; text-align: center; color: rgb(102, 102, 102); border: solid 1px #ccc; border-bottom: 0; background-color: #f5f5f5; float: left; font-size-adjust: none; font-stretch: normal; margin-left: 5px; list-style: none; }
.MacOS .Pdialog-content .Pdialog-item-tab li { font-family: 'lucida Grande', Verdana; }
.Pdialog-content .Pdialog-item-tab li.selected { height: 28px; color: rgb(51, 51, 51); position: relative; background-color: #fff; margin-bottom: -1px; }
.Pdialog-content .Pdialog-item-tab li a { line-height: 28px; }
.Pdialog-content .Pdialog-item-tab a:link { color: rgb(102, 102, 102); text-decoration: none; }
.Pdialog-content .Pdialog-item-tab a:visited { color: rgb(102, 102, 102); text-decoration: none; }
.Pdialog-content .Pdialog-item-tab a:hover { color: rgb(141, 0, 0); text-decoration: none; }
.Pdialog-content .Pdialog-item-tab .selected a:link { color: rgb(51, 51, 51); text-decoration: none; }
.Pdialog-content .Pdialog-item-tab .selected a:visited { color: rgb(51, 51, 51); text-decoration: none; }
.Pdialog-content .Pdialog-item-tab .selected a:hover { color: rgb(141, 0, 0); text-decoration: none; }
.Pdialog-content .Pdialog-item-panel { border: 0; padding: 5px; }
.Pdialog-item { display: none; }
.Pdialog-content .Pdialog-hot { padding: 3px 0 0 5px; display: block; }
  .Pdialog-content .Pdialog-hot a { line-height: 25px; }
.Pdialog-item { display: none; }
  .Pdialog-item li { display: inline-block; line-height: 22px; padding: 2px 0 2px 25px; border-bottom: 1px dashed #ddd; width: 92%; }
    .Pdialog-item li strong { float: left; color: #b5cfd9; font-size: 16px; margin-left: -20px; padding-top: 3px; }
  .Pdialog-item a { font-size: 12px !important; color: #0271b9 !important; float: left; margin-right: 5px; padding: 0 5px; text-decoration: none; white-space: nowrap; outline: 0 none; border: 1px solid #fff; }
    .Pdialog-item a:hover, .Pdialog-item a.selected { background: #2680e9; color: #fff !important; text-decoration: none !important; border-color: #66acff #094fa1 #094fa1 #66acff; border-style: solid; border-width: 1px; }
.Pdialog-frame { width: 100%; height: 100%; position: absolute; top: 0; left: 0; background: #000; opacity: 0; filter: alpha(opacity = 0); z-index: 110; }
.Pdialog-frame-wrap { width: 100%; height: 100%; position: absolute; top: -6px; left: -6px; background: #000; opacity: 0; filter: alpha(opacity = 0); z-index: 110; }
.Pdialog-shadow { width: 100%; height: 100%; position: absolute; top: 2px; left: 4px; background: #000; opacity: .2; filter: alpha(opacity = 30); z-index: 110; }
.Pdialog-shadow-wrap { width: 100%; height: 100%; position: absolute; top: -6px; left: -6px; background: #000; opacity: .2; filter: alpha(opacity = 30); z-index: 110; }
.tips_login { line-height: 20px; text-align: center; filter: progid:DXImageTransform.Microsoft.Shadow(color='#969696',Direction=135, Strength=6 ); -moz-box-shadow: 0px 0px #969696; -webkit-box-shadow: 0px 0px 5px #969696; box-shadow: 0px 0px 5px #969696; background: none repeat scroll 0 0 #fffcd2; border: 1px solid #d4d4d4; color: black; left: 30%; padding: 8px 20px 5px; position: absolute; top: 40%; z-index: 100; }
  .tips_login .close { text-indent: -10000px; cursor: pointer; width: 18px; height: 18px; position: absolute; right: -1px; top: 0; display: block; }
.p5w-dialog { border: 1px solid #aaa; box-shadow: 0 0 20px rgba(0, 0, 0, 0.4); border-radius: 5px; background-color: #fff; padding: 0px; }
  .p5w-dialog .ui-dialog-titlebar { background-image: none; background-color: #eaeaea; color: #000; font-size: 12px; font-weight: bold; padding: 5px 15px; line-height: 25px; height: 25px; text-align: left; border: 0; border-bottom: solid 1px #cccccc; border-radius: 5px 5px 0 0; }
    .p5w-dialog .ui-dialog-titlebar .ui-button-text { padding: 0; }
  .p5w-dialog .ui-dialog-title { float: left; margin: .1em 0; white-space: nowrap; width: auto; overflow: hidden; text-overflow: ellipsis; }
  .p5w-dialog .ui-dialog-titlebar-close { position: absolute; right: .5em; top: 50%; width: 21px; margin: -10px 0 0 0; padding: 1px; height: 20px; }
  .p5w-dialog .ui-dialog-content { overflow: hidden; }
  .p5w-dialog .ui-dialog-buttonpane { border-radius: 0 0 5px 5px; }

.clearfloat { display: block; clear: both; content: ""; visibility: hidden; height: 0; line-height: 0; font-size: 1px; }

.mod-tw { height: 88px; }
.mod-tw .mod-text { height: 90px; overflow: hidden; }
.mod-tw .mod-text4 .mod-lt { width: 155px; height: 84px; overflow: hidden; text-overflow: ellipsis; -ms-text-overflow: ellipsis; -o-text-overflow: ellipsis; -moz-binding: url("ellipsis.xml#ellipsis"); vertical-align: middle; }
.mod-tw .mod-text4 .mod-lc { width: 155px; height: 25px; overflow: hidden; line-height: 25px; padding: 0; text-overflow: ellipsis; -ms-text-overflow: ellipsis; -o-text-overflow: ellipsis; -moz-binding: url("ellipsis.xml#ellipsis"); white-space: nowrap; }
#lyztSP li { width: 318px; overflow: hidden; text-overflow: ellipsis; -ms-text-overflow: ellipsis; -o-text-overflow: ellipsis; -moz-binding: url("ellipsis.xml#ellipsis"); white-space: nowrap; }

#newstockdata { margin-bottom: 18px; }

.md-xgzt { position: relative; }
.md-xgzt-link { width: 80px; height: 25px; position: absolute; left: 10px; top: 25px; }

.headlines h1 { margin: 5px 0 5px 0; line-height: 25px; }

.list-f { height: 25px; line-height: 25px; }
div.table-data1 { width: 618px; float: left; color: #5e6781; height: 24px; border: 1px #e6e6e6 solid; background-color: #fff; }
div.table-data1 li { text-align: center; width: 76px; height: 24px; line-height: 24px; float: left; }
div.table-data1 li a { color: #5e6781; }
.rslides { height: 16px; width: 720px; }
.tip-skyblue { z-index: 1000; text-align: left; padding: 8px 10px; min-width: 50px; max-width: 300px; color: #efefef; background-color: #666; background-image: url(../images3/tip-skyblue.png); }
.tip-skyblue .tip-inner { font: bold 13px/15px 'Î¢ÈíÑÅºÚ',arial,helvetica,sans-serif; padding: 0 3px 1px 3px; }
.tip-skyblue .tip-arrow-top { margin-top: -12px; margin-left: 0; top: 0; left: 0; width: 11px; height: 19px; background: url(../images3/tip-skyblue_arrows.png) no-repeat; }
.tip-skyblue .tip-arrow-right { margin-top: 0; margin-left: -7px; top: 0; left: 100%; width: 18px; height: 13px; background: url(../images3/tip-skyblue_arrows.png) no-repeat -20px 0; }
.tip-skyblue .tip-arrow-bottom { margin-top: -8px; margin-left: 0; top: 100%; left: 0; width: 11px; height: 20px; background: url(../images3/tip-skyblue_arrows.png) no-repeat -40px 0; }
.tip-skyblue .tip-arrow-left { margin-top: 0; margin-left: -11px; top: 0; left: 0; width: 18px; height: 13px; background: url(../images3/tip-skyblue_arrows.png) no-repeat -60px 0; }
.tip-normal { z-index: 1000; text-align: left; border: 1px solid #939393; padding: 7px; min-width: 50px; max-width: 300px; color: #8c3901; background-color: #fef9d9; background-image: url(../images3/tip-normal.png);  }
.tip-normal .tip-inner { font: bold 13px/18px 'Î¢ÈíÑÅºÚ',arial,helvetica,sans-serif; margin-top: -2px; padding: 0 3px 1px 3px; }
.tip-normal .tip-arrow-top { margin-top: -7px; margin-left: 15px; top: 0; left: 0; width: 16px; height: 10px; background: url(../images3/tip-normal_arrows.png) no-repeat; }
.tip-normal .tip-arrow-right { margin-top: -9px; /* approx. half the height to center it */ margin-left: -4px; top: 50%; left: 100%; width: 10px; height: 20px; background: url(../images3/tip-normal_arrows.png) no-repeat -16px 0; }
.tip-normal .tip-arrow-bottom { margin-top: -6px; margin-left: 15px; top: 100%; left: 0; width: 16px; height: 13px; background: url(../images3/tip-normal_arrows.png) no-repeat -32px 0; }
.tip-normal .tip-arrow-left { margin-top: -9px; /* approx. half the height to center it */ margin-left: -6px; top: 50%; left: 0; width: 10px; height: 20px; background: url(../images3/tip-normal_arrows.png) no-repeat -48px 0; }

.tip-skyblue .tip-inner a, .tip-normal .tip-inner a { margin-right: 6px; width: 60px; display: inline-block; color: #666; height: 24px; position: relative; }
.rslides_tabs {clear: both;text-align: center; width:90px; margin:9px auto;float:none;}
.rslides_tabs li {display: inline; float:left;    margin-right: 5px;}
.rslides_tabs a {background:url(../images3/s-dot.jpg) no-repeat;height: 9px; display:block; width: 9px; margin-top:4px;}
.rslides_tabs .rslides_here a {  background:url(../images3/s-dot-c.jpg) no-repeat; }
.l-box2 .s-3 .p-box{width:201px;}

.blank10 { clear: both; font-size: 1px; height: 10px; line-height: 1px; margin: 0 auto; }
.blank15 { clear: both; font-size: 1px; height: 15px; line-height: 1px; margin: 0 auto; }

.xgzt-arrow, .xgzt-arrow2 { cursor: pointer; }
#xgzt-content { width: 810px; overflow: hidden; }
#content_xggz { height: 450px; overflow: hidden; }

.xggz-box .rslides_tabs { clear: none; float: right; text-align: center; width: 50px; height: 30px; margin-top: 5px; }
.xggz-box .rslides_tabs li { height: 30px; display: inline; float: left; margin-top: 12px; margin-right: 1px; margin-left: 1px; }
.xggz-box .rslides_tabs .rslides1_t1 a { height: 30px; padding-top: 0px; background: url(/images13/d1.gif) no-repeat; height: 16px; display: block; width: 19px; padding-right: 3px; }
.xggz-box .rslides_tabs .rslides1_b1 a { height: 30px; padding-top: 0px; background: url(/images13/d2.gif) no-repeat; height: 16px; display: block; width: 19px; padding-left: 3px; }

.xggz-box ul li { height: 72px; vertical-align: top; margin-bottom: 3px; }
	.xggz-box ul li .xg-logo-l { width: 80px; float: left; }
		.xggz-box ul li .xg-logo-l img { width: 77px; height: 61px; }
	.xggz-box ul li .xg-text-r { float: left; width: 205px; padding-left: 5px; }
		.xggz-box ul li .xg-text-r dl dt { font-family: "Î¢ÈíÑÅºÚ"; color: #333; font-size: 13px; font-weight: bold; line-height: 24px; margin-bottom: 8px; margin-top: 1px; text-align: left; }
		.xggz-box ul li .xg-text-r dl { height: 58px; border-bottom: 1px dashed #dbdbdb; }
			.xggz-box ul li .xg-text-r dl dd { color: #999; }
				.xggz-box ul li .xg-text-r dl dd span { margin-right: 0; }
					.xggz-box ul li .xg-text-r dl dd span a { color: #999; }

#content_xggz { height: 150px; overflow: hidden; }
.content_xggz_c { height: 72px; overflow: hidden; }

.mod-title-right { float: right; }

.red, a.red, a.red:link, a.red:visited, a.red:hover, a.red:active { color: #c80000; }
.red a, .red a:link, .red a:visited, .red a:hover, .red a:active{ color: #c80000; }

.cake-box { margin: 0 auto; }

.duilian { width: 100px; position: fixed; _position: absolute; top: 170px; display: block; }
.duilianr { right: 8px; }
.duilianl { left: 8px; }

.adcls { height: 12px; line-height: 12px; width: 100%; overflow: hidden; text-align: right; vertical-align: text-top; display: block; }
.adcls a { background: none; height: 12px; line-height: 12px; vertical-align: text-top; display: block; }
.adcls img { cursor: pointer; }
