/*----- ÐÐÇé -----*/
.index_main { width: 347px; margin: 0 auto 10px auto; }
.tabs {clear: both; width: 347px;border:0; }
.tabs .tabsHead {width:347px; height:26px;}
.tabs .tabsHead ul{ padding: 0 0 0 1px;  height:26px; font-size:12px; background-image:url(../images13/ty_label_3.jpg); background-repeat:no-repeat}
.tabs .tabsHead li{ padding: 4px 11px 2px 11px; float:left;display:block;cursor:pointer;list-style:none; text-align:center;background-image:url(../images13/ty_label_1.jpg); background-position: top right}
.tabs .tabsHead li.hover{ background-image:url(../images13/ty_label_2.jpg);}
.tabs .tabBox { position: absolute; left: 0; top: 0; width: 347px; height: 223px; }
.tabs .indexs_container { position: relative; margin-top: 2px; width: 347px; height: 225px; overflow: hidden; }
.tabs .indexs_container dl { display: block; clear: both; }
.tabs .indexs_container dl.curr { border-bottom: none; }
.tabs .indexs_container dt { height: 32px; clear: both; line-height: 32px; cursor: pointer; border-bottom: dashed 1px #999; background-color: #fff; }
.tabs .indexs_container dt span { text-align: left; display: block; height: 32px; line-height: 32px; float: left; padding: 0; margin: 0; }
.tabs .indexs_container dt .n1 { width: 58px; text-align: center; }
.tabs .indexs_container dt .n2 { margin-left: 8px; width: 58px; text-align: center; }
.tabs .indexs_container dt .n3 { margin-left: 8px; width: 58px; text-align: center; }
.tabs .indexs_container dt .n4 { margin-left: 8px; width: 58px; text-align: center; }
.tabs .indexs_container dt.red span { color: #f00000; }
.tabs .indexs_container dt.green span { color: #008000; }
.tabs .indexs_container dt.red .n1, .tabs .indexs_container dt.green .n1 { color: #000; }
.tabs .indexs_container dd { height: 200px; clear: both; }
.tabs .indexs_container dd .chart { width: 340px; height: 200px; position: relative; }
.tabs .indexs_container dd .chart img { position: absolute; top: 59px; left: 119px; }

ol, ul { list-style: none outside none; }
.mininav { background: url(/images13/bg.jpg) repeat-x left top; width: 100%; height: 36px; padding-top: 0px; z-index: 99; }
  .mininav .nc { margin: 0px auto; width: 1020px; position: relative; height: 36px; }
  .mininav .nav { margin-left: -8px; float: left; }
    .mininav .nav li { background: url(/images13/nav-line.gif) no-repeat 100% 10px; padding: 0px 9px 0px 8px; line-height: 36px; float: left; }
    .mininav .nav a:link, .mininav .nav a:visited { color: #383838; text-decoration: none; }
    .mininav .nav a:hover { color: #c80000; text-decoration: underline; }
  .mininav .nav_login { position: absolute; top: 2px; right: 10px; width: 350px; text-align: right; }
    .mininav .nav_login a, .mininav .nav_login a:link, .mininav .nav_login a:visited, .mininav .nav_login a:active { color: rgb(102, 102, 102); }
      .mininav .nav_login a:hover { color: rgb(204, 0, 0); }
    .mininav .nav_login .loginarea { height: 32px; line-height: 32px; }

.foot { width:960px; height:130px; overflow:hidden; margin:24px auto 0 auto; }
.foot13 { color: #666; font-family: 'ËÎÌå'; font-size: 12px; width: 960px; margin: 4px auto 0 auto; height: 130px; overflow: hidden; text-align: center; }
  .foot13 a { color: #666; text-decoration: none; }
    .foot13 a:hover { color: #c80000; text-decoration: underline; }
  .foot13 .foot13-inner { width: 900px; margin: 0 auto; height: 120px; overflow: hidden; }
  .foot13 .f-l { width: 480px; float: left; text-align: center; margin-top: 8px; }
    .foot13 .f-l p { margin: 0; padding: 0; line-height: 20px; }
  .foot13 .f-r { width: 330px; float: right; margin-top: 8px; margin-left: 10px; line-height: 22px; text-align: left; }
  .foot13 .fontArial { font-family: 'Arial'; }

.Pdialog { padding: 0px; position: absolute; left: 46%; top: 20%; font-size: 12px; z-index: 1001; }
.Pdialog-main { width: 450px; z-index: 120; position: relative; border: 1px solid #aaa; box-shadow: 0 0 20px rgba(0, 0, 0, 0.4); border-radius: 5px; background-color: #fff; overflow: hidden; }
.Pdialog-iframe { width: auto; }
.Pdialog-main .Pdialog-title { background-color: #eaeaea; color: #000; font-size: 12px; font-weight: bold; padding: 5px 15px; line-height: 25px; text-align: left; border-bottom: solid 1px #cccccc; border-radius: 5px 5px 0 0; }
.Pdialog-main .Pdialog-content { padding: 0px; background-color: #fff; }
.Pdialog-main .Pdialog-close { position: absolute; right: 8px; top: 8px; height: 18px; width: 18px; }
.Pdialog-main a.pop-close { text-indent: -10000px; outline: 0 none; background: url(/images13/dialog.gif) no-repeat 0px 0px; cursor: pointer; height: 18px; width: 18px; display: block; }
  .Pdialog-main a.pop-close:hover { background-position: -18px 0; }
.Pdialog-content .Pdialog-item-tab { background: #fff; height: 28px; border-bottom-color: #cccccc; border-bottom-width: 1px; border-bottom-style: solid; margin-top: 8px; }
  .Pdialog-content .Pdialog-item-tab ul { height: 28px; border-top-color: #000; border-top-width: 0px; border-top-style: solid; position: relative; }
  .Pdialog-content .Pdialog-item-tab li { font-size: 14px; font-family: 'Microsoft YaHei',SimSun; width: 45px; height: 27px; text-align: center; color: rgb(102, 102, 102); border: solid 1px #ccc; border-bottom: 0; background-color: #f5f5f5; float: left; font-size-adjust: none; font-stretch: normal; margin-left: 5px; list-style: none; }
.MacOS .Pdialog-content .Pdialog-item-tab li { font-family: 'lucida Grande', Verdana; }
.Pdialog-content .Pdialog-item-tab li.selected { height: 28px; color: rgb(51, 51, 51); position: relative; background-color: #fff; margin-bottom: -1px; }
.Pdialog-content .Pdialog-item-tab li a { line-height: 28px; }
.Pdialog-content .Pdialog-item-tab a:link { color: rgb(102, 102, 102); text-decoration: none; }
.Pdialog-content .Pdialog-item-tab a:visited { color: rgb(102, 102, 102); text-decoration: none; }
.Pdialog-content .Pdialog-item-tab a:hover { color: rgb(141, 0, 0); text-decoration: none; }
.Pdialog-content .Pdialog-item-tab .selected a:link { color: rgb(51, 51, 51); text-decoration: none; }
.Pdialog-content .Pdialog-item-tab .selected a:visited { color: rgb(51, 51, 51); text-decoration: none; }
.Pdialog-content .Pdialog-item-tab .selected a:hover { color: rgb(141, 0, 0); text-decoration: none; }
.Pdialog-content .Pdialog-item-panel { border: 0; padding: 5px; }
.Pdialog-item { display: none; }
.Pdialog-content .Pdialog-hot { padding: 3px 0 0 5px; display: block; }
  .Pdialog-content .Pdialog-hot a { line-height: 25px; }
.Pdialog-item { display: none; }
  .Pdialog-item li { display: inline-block; line-height: 22px; padding: 2px 0 2px 25px; border-bottom: 1px dashed #ddd; width: 92%; }
    .Pdialog-item li strong { float: left; color: #b5cfd9; font-size: 16px; margin-left: -20px; padding-top: 3px; }
  .Pdialog-item a { font-size: 12px !important; color: #0271b9 !important; float: left; margin-right: 5px; padding: 0 5px; text-decoration: none; white-space: nowrap; outline: 0 none; border: 1px solid #fff; }
    .Pdialog-item a:hover, .Pdialog-item a.selected { background: #2680e9; color: #fff !important; text-decoration: none !important; border-color: #66acff #094fa1 #094fa1 #66acff; border-style: solid; border-width: 1px; }
.Pdialog-frame { width: 100%; height: 100%; position: absolute; top: 0; left: 0; background: #000; opacity: 0; filter: alpha(opacity = 0); z-index: 110; }
.Pdialog-frame-wrap { width: 100%; height: 100%; position: absolute; top: -6px; left: -6px; background: #000; opacity: 0; filter: alpha(opacity = 0); z-index: 110; }
.Pdialog-shadow { width: 100%; height: 100%; position: absolute; top: 2px; left: 4px; background: #000; opacity: .2; filter: alpha(opacity = 30); z-index: 110; }
.Pdialog-shadow-wrap { width: 100%; height: 100%; position: absolute; top: -6px; left: -6px; background: #000; opacity: .2; filter: alpha(opacity = 30); z-index: 110; }
.tips_login { line-height: 20px; text-align: center; filter: progid:DXImageTransform.Microsoft.Shadow(color='#969696',Direction=135, Strength=6 ); -moz-box-shadow: 0px 0px #969696; -webkit-box-shadow: 0px 0px 5px #969696; box-shadow: 0px 0px 5px #969696; background: none repeat scroll 0 0 #fffcd2; border: 1px solid #d4d4d4; color: black; left: 30%; padding: 8px 20px 5px; position: absolute; top: 40%; z-index: 100; }
  .tips_login .close { text-indent: -10000px; cursor: pointer; width: 18px; height: 18px; position: absolute; right: -1px; top: 0; display: block; }
.p5w-dialog { border: 1px solid #aaa; box-shadow: 0 0 20px rgba(0, 0, 0, 0.4); border-radius: 5px; background-color: #fff; padding: 0px; }
  .p5w-dialog .ui-dialog-titlebar { background-image: none; background-color: #eaeaea; color: #000; font-size: 12px; font-weight: bold; padding: 5px 15px; line-height: 25px; height: 25px; text-align: left; border: 0; border-bottom: solid 1px #cccccc; border-radius: 5px 5px 0 0; }
    .p5w-dialog .ui-dialog-titlebar .ui-button-text { padding: 0; }
  .p5w-dialog .ui-dialog-title { float: left; margin: .1em 0; white-space: nowrap; width: auto; overflow: hidden; text-overflow: ellipsis; }
  .p5w-dialog .ui-dialog-titlebar-close { position: absolute; right: .5em; top: 50%; width: 21px; margin: -10px 0 0 0; padding: 1px; height: 20px; }
  .p5w-dialog .ui-dialog-content { overflow: hidden; }
  .p5w-dialog .ui-dialog-buttonpane { border-radius: 0 0 5px 5px; }

.red, a.red, a.red:link, a.red:visited, a.red:hover, a.red:active { color: #c80000; }
.red a, .red a:link, .red a:visited, .red a:hover, .red a:active{ color: #c80000; }
.headlines h1{line-height:25px;}

.clearfloat{display:block;clear:both;content:"";visibility:hidden;height:0; line-height:0; font-size:1px;}

