/*----- ÐÐÇé -----*/
.index_main { width: 347px; margin: 0 auto 10px auto; }
.tabs {clear: both; width: 347px;border:0; }
.tabs .tabsHead {width:347px; height:26px;}
.tabs .tabsHead ul{ padding: 0 0 0 1px;  height:26px; font-size:12px; background-image:url(../images13/ty_label_3.jpg); background-repeat:no-repeat}
.tabs .tabsHead li{ padding: 4px 11px 2px 11px; float:left;display:block;cursor:pointer;list-style:none; text-align:center;background-image:url(../images13/ty_label_1.jpg); background-position: top right}
.tabs .tabsHead li.hover{ background-image:url(../images13/ty_label_2.jpg);}
.tabs .tabBox { position: absolute; left: 0; top: 0; width: 347px; height: 223px; }
.tabs .indexs_container { position: relative; margin-top: 2px; width: 347px; height: 225px; overflow: hidden; }
.tabs .indexs_container dl { display: block; clear: both; }
.tabs .indexs_container dl.curr { border-bottom: none; }
.tabs .indexs_container dt { height: 32px; clear: both; line-height: 32px; cursor: pointer; border-bottom: dashed 1px #999; background-color: #fff; }
.tabs .indexs_container dt span { text-align: left; display: block; height: 32px; line-height: 32px; float: left; padding: 0; margin: 0; }
.tabs .indexs_container dt .n1 { width: 58px; text-align: center; }
.tabs .indexs_container dt .n2 { margin-left: 8px; width: 58px; text-align: center; }
.tabs .indexs_container dt .n3 { margin-left: 8px; width: 58px; text-align: center; }
.tabs .indexs_container dt .n4 { margin-left: 8px; width: 58px; text-align: center; }
.tabs .indexs_container dt.red span { color: #f00000; }
.tabs .indexs_container dt.green span { color: #008000; }
.tabs .indexs_container dt.red .n1, .tabs .indexs_container dt.green .n1 { color: #000; }
.tabs .indexs_container dd { height: 200px; clear: both; }
.tabs .indexs_container dd .chart { width: 340px; height: 200px; position: relative; }
.tabs .indexs_container dd .chart img { position: absolute; top: 59px; left: 119px; }

.mininav-right {width:380px; margin-top :4px; line-height:38px;   }
#user-menu { }
.menu li.item { margin-right: 2px; float: right; display: inline; position: relative; }
.menu .link { padding: 0px 7px; height: 33px; line-height: 33px; display: inline-block; position: relative; color: #fff; text-decoration: none; }
.mininav-right .menu .link { color: #000; }
.menu .link:hover { color: #fff; text-decoration: none; }
.menu .link span { padding-right: 11px; position: relative; z-index: 25; cursor: pointer; _zoom: 1; }
.menu .link span em { border-width: 3px 3px 0px; border-style: solid dashed dashed; border-color: rgb(99, 99, 99) transparent transparent; top: 50%; height: 0px; right: 0px; line-height: 0; font-size: 0px; margin-top: -2px; position: absolute; cursor: pointer; }
.menu li.current { background: #b93c3c; }



.menu li.hover { border :0; margin-right: 0px; margin-left: -1px; position: relative; z-index: 22;  -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); box-shadow: 1px 1px 3px rgba(0,0,0,0.3); }
.menu li.hover .link { background-image: url(../../../images13/layer_bg.png); background-color: transparent; padding: 0px 8px 0px 7px; text-decoration: none;  margin-bottom: -1px; border: solid 1px #000; border-bottom: none; position: relative; z-index: 24; _background: #FFF; color: rgb(99, 99, 99); }
.menu li.hover .link:hover { color: rgb(99, 99, 99); }
.menu li.hover .link span { top: -1px; }
.menu li.hover .link span em { border-color: rgb(99, 99, 99) transparent transparent; }
.menu-sublist { background: url(../../../images13/layer_bg.png); padding: 3px 2px; border: 1px solid #000; width: 125px; position: absolute; z-index: 21; _background: #FFF; left: 0; top: 33px; display: none; -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); -moz-border-radius-bottomright: 3px; -moz-border-radius-topright: 3px; -webkit-border-bottom-right-radius: 3px; -webkit-border-top-right-radius: 3px; -moz-border-radius-bottomleft: 3px; -webkit-border-bottom-left-radius: 3px; border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; border-top-right-radius: 3px; }
.menu-sublist .solid-line { background: rgb(223, 220, 220); margin: 3px 0px; height: 1px; line-height: 1px; overflow: hidden; font-size: 0px; }
.menu-sublist .border { padding: 4px 0px 9px 0; margin: 0 0px 0 0px; zoom: 1; background-image: url(../../../images13/menu_title_bg.png); background-color: transparent; background-repeat: repeat-x; background-position: 0% 0%; }
.menu div ul div { top: 0; left: 0; margin-left: 120px; z-index: 26; border-top-left-radius: 3px; -moz-border-radius-topleft: 3px; -webkit-border-top-left-radius: 3px; }
.menu div ul div ul { }
.menu div ul li { padding: 0; z-index: 24; position: relative; }
.menu div ul li span { padding-right: 60px; position: relative; z-index: 25; cursor: pointer; _zoom: 1; }
.menu div ul li span em { border-width: 3px 0px 3px 3px; border-style: solid dashed dashed; border-color: transparent #000 transparent; top: 50%; height: 0px; right: 0px; line-height: 0; font-size: 0px; margin-top: -2px; position: absolute; cursor: pointer; }
.menu div ul li a:hover span em { border-color: transparent #fff transparent; }
.menu ul.ul-list {  }
.menu ul.ul-list li { width :auto ; height: 25px; line-height: 25px; vertical-align: bottom; }
.menu ul.ul-list li a { color: rgb(99, 99, 99); padding-left: 10px; display: block; zoom: 1; }
.menu ul.ul-list li a:visited { color: rgb(99, 99, 99); padding-left: 10px; display: block; zoom: 1; }
.menu ul.ul-list li a:link, .ul-list li a:active { color :rgb(99, 99, 99) } 
.menu ul.ul-list li a:hover { text-decoration: none; background-color: #b93c3c; color: #fff; }

.menu .link-hover, .menu .link-hover em { background: url(../../../images13/btns.gif) no-repeat; height: 28px; color: #636363; line-height: 28px; font-size: 12px; font-weight: normal; text-decoration: none; display: inline-block; cursor: pointer; background-position: -320px 0; }
.menu .link-hover { margin-left:3px;  background-position: -320px 0; padding-left: 10px; }
.menu .link-hover em { background-position: right -28px; height: 28px; padding-right: 10px; font-style: normal;color: #000; }
.menu a.link-hover:hover em { background-position: right -84px; height: 28px; text-decoration: none; display: inline-block;color :#fff;  }
.menu a.link-hover:link { text-decoration: none; }
.menu a.link-hover:visited { text-decoration: none; }
.menu a.link-hover:hover { text-decoration: none; background-position: -320px -56px;color :#fff; }
.menu .welcome {padding-top:3px;  height :28px;line-height :28px; color:#999  }

.headlines h1{line-height:25px;}

.clearfloat{display:block;clear:both;content:"";visibility:hidden;height:0; line-height:0; font-size:1px;}

.foot { width:960px; height:130px; overflow:hidden; margin:24px auto 0 auto; }
.foot13 { color:#666; font-family:'ËÎÌå'; font-size:12px; width:960px; margin:4px auto 0 auto; height:130px; overflow:hidden; text-align:center;}
.foot13 a { color:#666; text-decoration:none; }
.foot13 a:hover { color:#c80000; text-decoration:underline; }
.foot13 .foot13-inner {width:900px; margin:0 auto; height:120px; overflow:hidden; }
.foot13 .f-l { width:480px; float:left; text-align:center; margin-top:8px; }
.foot13 .f-l p { margin:0; padding:0; line-height:20px;}
.foot13 .f-r { width:330px; float:right; margin-top:8px; margin-left:10px; line-height:22px; text-align:left; }
.foot13 .fontArial {font-family:'Arial';}